[mysqld_safe]
syslog

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

secure-file-priv = "/tmp/"

# 特定のIPアドレスからアクセス許可
#bind-address=
# TCP/IP経由でのアクセス無効
#skip-networking=0

# error log
#log-error=data/log/mysqld.log
#log-warnings=1

# クエリログの出力先を指定(FILE/TABLE/NONE)
#log_output=FILE

# query log
# 一般クエリログを採取するか否か示します。1:ロギングする、0:ロギングしない
#general_log=1

# 一般クエリログ出力先
#general_log_file=data/log/general_query.log

# slow query log
#slow_query_log=1
#slot_query_log_file=data/log/slow_query.log
#long_query_time=10
#log_queries_row_limit=1

# binary log
# マスターでは1,スレーブでは1以外
#server-id=1

# バイナリログ本体
#log-bin=data/log/binlog/mysql-bin-log

# バイナリログ一覧を管理するファイル
#log_bin_index=data/log/binlog/mysql-bin-log.list

# ログ最大サイズ（最大いったらローテーション)
#max_binlog_size=50M

# binlogのフォーマット。STATEMENTはSQLベース、ROWは行(実データ)ベース。
#binlog_format=ROW

# ログ保管期限(日)
#expire_logs_days=2

# ログを取るデータベース名指定
# binlog-do-db=db01

# ログを取らないデータベース名指定
# binlog-ignore-db=XXX

[client]
default-character-set=utf8mb4
